:root {

    --base1: #d1c156;
    --base2: #f0eac5;

    --hand-font: 'Just Me Again Down Here', cursive;
    --text-font: 'Montserrat Alternates', sans-serif;

    --purple: #d08cf5;
    --pink: #fc97ec;
    --yellow: #edca3e;
    --dark-grey: #303030;

    --sripped-background: repeating-linear-gradient(0deg,
            var(--base1),
            var(--base1) 5px,
            var(--base2) 7px,
            var(--base2) 3px);

    font-family: 'Montserrat Alternates', sans-serif;

    font-family: 'Mansalva', cursive;

    font-family: 'Just Another Hand', cursive;

    font-family: 'Just Me Again Down Here', cursive;
}

body {
    margin-top: 180px;
    background-image: url(assets/philadelphia2.jpg);
    display: flex;
    justify-content: center;
    align-content: center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    top: 0;
    left: 0;
    width: 100vw;
    position: fixed;
    overflow: none;
    text-align: center;
    background: var(--sripped-background);
}

#logo-div {
    display: flex;

}

#header-img {
    height: 120px
}

h3 {
    font-family: var(--hand-font);
    font-size: 30px;
    color: white;
    line-height: 80%;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}

.mdi {
    font-size: 16px;
    padding: 0px 5px;
    line-height: 25%;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100vw;
    font-family: var(--hand-font);
    background-image: url(assets/OF18GU0.jpg);
    z-index: 100;
}

.nav-link {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
}

main {
    font-family: var(--text-font);
    background: white;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

section {
    padding: 10px 10px;
}

h2 {
    background-image: url(assets/OF18GU0.jpg);
    color: white;
    padding: 10px 20px;
}

p {
    color: var(--dark-grey);
}

#info {
    background-image: url(assets/OF18GU0.jpg);
    padding: 5px;
}

#info>p {
    color: white;
    font-size: 12px;
    line-height: 12px;
}

#flavours-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.flavor-div-outter {
    background: red;
    height: 150px;
    width: 150px;
    margin: 10px auto;
    text-align: center;
    border: var(--dark-grey) solid 5px;
    border-radius: 10px;
}

.flavor-div {
    margin: 20px 0px;
    height: 110px;
    width: 150px;
    background: var(--sripped-background);

    color: var(--dark-grey);
    font-size: 24px;
    font-weight: bolder;


}

#oatmeal-raisin {
    background: var(--purple);
}

#cherry-amond-vanilla {
    background: var(--pink);
}

#peanut-chocolate-chip {
    background: var(--yellow);
}

#video {
    width: 100%;
}

#message {
    width: 95%;
    height: 150px;
}
#email {
    width: 95%;
    max-width: 500px;
}

label {
    font-size: 20px;
    text-align: center;
}

#popup-background {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100wh;
    z-index: 50;
    position: fixed;
    opacity: 0.7;
    background: gray;
}

#popup-content {
    background: white;
    margin: 0px 40px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    position: fixed;
    z-index: 60;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#popup-accept-button {
    margin: 0px 60px;
    padding: 10px;
}


@media only screen and (min-width: 600px) {

    body {
        margin-top:250px;
    }

    #logo-div {
        width: 100vw;
        align-content: center;
        justify-content: center;
    }

    #header-img {
        height: 180px;
    }

    h3 {
        font-size: 40px;
    }

    main {
        width: 60vw;
    }

    p {
        font-size: 24px;
        padding: 10px 100px;
        line-height: 40px;
    }

    #flavours-container {
        display: flex;
        flex-direction: row;
    }
    #video {
    width: 100%;
}

}
